.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: Ramona-Light;
  src: url(fonts/Ramona-Light.ttf);
}

@font-face {
  font-family: Ramona-Bold;
  src: url(fonts/Ramona-Bold.ttf);
}

/* NAVBAR */

nav {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  z-index: 10;
  border-bottom: 2px;
  height: 8%;
}

nav ul {
  text-align: center;
  list-style-type: none;
  list-style: none;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: #ebebeb;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-family: Ramona-Bold;
  font-size: 30px;
  color: rgb(230, 227, 91);
  -webkit-text-stroke: 1px black;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #e6e475;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #333;
  height: 1px;
}

/*














nav ul li a:hover:after {
  width: 100%;
}

/* HOME PAGE */

h1 {
  padding: 15px 0px;
  font-family: Ramona-Bold;
  font-size: 40px;
  color: rgb(230, 227, 91);
  -webkit-text-stroke: 2px black;
}

h2 {
  padding: 8px 0px;
  margin: 0;
}

/* ADD / EDIT DONATION PAGE */

.addDonationPage,
.addWithdrawalPage,
.editDonationPage,
.loginPage {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 4px solid rgb(230, 227, 91);
  border-radius: 25px;
  font-family: Ramona-Bold;
  backdrop-filter: blur(25px);
  background-color: rgba(85, 80, 15, 0.2);
}

.editDonationPage .formContainer {
  border: 5px solid lightsalmon;
}

.formContainer .formInput {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

#inputAddDonationSignature,
#inputAddWithdrawalSignature {
  background-color: white;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: rgb(230, 227, 91);
  border: 1px black;
  border-radius: 5px;
  color: rgb(27, 26, 26);
  font-weight: bold;
}

.editDonationPage .formContainer button {
  background-color: lightcoral;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* ANIMATION CONTAINER */

.container {
  position: relative;
}

.animation-container {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;

  padding: .8em 1.2em;
  color: white;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gimmick {
  display:block;
  pointer-events:none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bankInfo {
  position: absolute;
  top: 8%;
  margin: 0 auto;
  width: 100%;
}

.coinRain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  filter: blur(0px)
}

.coinRainOpacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 13;
  background-color: rgba(0, 0, 0, 0.8);
}

h3 {
  color: rgb(247, 233, 196);
  font-family: Ramona-Bold;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  -webkit-text-stroke: 1px black;
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(10px);
  }
}

.coinRain h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  animation: pulse 2s infinite;
  display: block;
}



@keyframes pulse {
	0% {
    transform: translate(-50% , -50%) scale(0.95);
	}

	70% {
    transform: translate(-50% , -50%) scale(1);
	}

	100% {
    transform: translate(-50% , -50%) scale(0.95);
	}
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  display:block;
  pointer-events:none;
}

.bubble {
  position: absolute;
  bottom: -200px;
  height: 0;
  width: 5%;
  padding: 5%;
  background: rgba(122, 236, 240, 0.5);
  border-radius: 50%;
  animation: rise 10s infinite ease-in;
  box-sizing: border-box;
  font-family: Ramona-Bold;
  font-size: 20px;
  color: rgb(230, 227, 91);
  -webkit-text-stroke: 0.5px black;
}

.donationAmount {
  position: absolute;
  width: 80%;
  height: 60%;
  top: 20%;
  left: 10%;
  margin: auto;
}

.bubble:nth-child(1) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 10%;
  animation-duration: 15s;
}

.bubble:nth-child(2) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 20%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble:nth-child(3) {
  height: 0;
  width: 3%;
  padding: 3%;
  font-size: 12px;
  left: 35%;
  animation-duration: 14s;
  animation-delay: 4s;
}

.bubble:nth-child(4) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 50%;
  animation-duration: 21s;
  animation-delay: 0s;
}

.bubble:nth-child(5) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 55%;
  animation-duration: 12s;
  animation-delay: 6s;
}

.bubble:nth-child(6) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 65%;
  animation-duration: 16s;
  animation-delay: 7s;
}

.bubble:nth-child(7) {
  height: 0;
  width: 3%;
  padding: 3%;
  font-size: 12px;
  left: 70%;
  animation-duration: 24s;
  animation-delay: 5s;
}

.bubble:nth-child(8) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 80%;
  animation-duration: 12s;
  animation-delay: 4s;
}

.bubble:nth-child(9) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 70%;
  animation-duration: 10s;
  animation-delay: 3s;
}

.bubble:nth-child(10) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 25%;
  animation-duration: 20s;
  animation-delay: 8s;
}

.bubble:nth-child(11) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 30%;
  animation-duration: 11s;
  animation-delay: 0s;
}

.bubble:nth-child(12) {
  height: 0;
  width: 3%;
  padding: 3%;
  font-size: 12px;
  left: 40%;
  animation-duration: 14s;
  animation-delay: 6s;
}

.bubble:nth-child(13) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 75%;
  animation-duration: 16s;
  animation-delay: 4.5s;
}

.bubble:nth-child(14) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 10%;
  animation-duration: 7s;
  animation-delay: 2.5s;
}

.bubble:nth-child(15) {
  height: 0;
  width: 3%;
  padding: 3%;
  font-size: 12px;
  left: 45%;
  animation-duration: 8s;
  animation-delay: 5s;
}

.bubble:nth-child(16) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 35%;
  animation-duration: 11s;
  animation-delay: 3.5s;
}

.bubble:nth-child(17) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 65%;
  animation-duration: 23s;
  animation-delay: 2s;
}

.bubble:nth-child(18) {
  height: 0;
  width: 5%;
  padding: 5%;
  left: 49%;
  animation-duration: 13s;
  animation-delay: 4s;
}

.bubble:nth-child(19) {
  height: 0;
  width: 3%;
  padding: 3%;
  font-size: 12px;
  left: 10%;
  animation-duration: 9s;
  animation-delay: 5s;
}

.bubble:nth-child(20) {
  height: 0;
  width: 4%;
  padding: 4%;
  font-size: 16px;
  left: 80%;
  animation-duration: 24s;
  animation-delay: 1s;
}

@keyframes rise {
  0% {
    bottom: -300px;
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}